html
  head
    title= title
  body
    h1 Hello #{title}
    ul
      -for(var i = 0; i < 5; i++)
        li unordered list #{i + 1}
    ol
      -for(var i = 0; i < 5; i++)
        li ordered list #{i + 1}